@import url(variables.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-sans);
}

body {
  font-family: var(--font-family-sans);
  color: var(--color-blue-900);
}

.container {
  margin: 0 auto;
  padding: 0 24px;
}

.footer {
  display: flex;
  background-color: var(--color-blue-900);
  width: 100%;
  justify-content: space-between;
}