@import url(variables.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-sans);
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: var(--font-family-sans);
  color: var(--color-blue-900);
}

.landingpage {
  margin: 0 auto;
  width: 100%;
}

/* Hero Section */

.hero {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.hero__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  margin-bottom: 64px;
}

.hero__logo, .footer__logo {
  width: 80px;
  height: auto;
}

.hero__content {
  padding: 0 20px;
}

.hero__text-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

.hero__button, .footer__button {
  background: var(--color-blue-900);
  border: none;
  color: var(--color-white);
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  border-radius: 28px;
  width: 168px;
  height: 59px;
}

.hero__button:hover {
  background: var(--color-blue-600);
}

.hero__title {
  font-size: 40px;
  font-weight: var(--font-weight-extra-bold);
  line-height: 1.2;
  margin-bottom: 24px;
}

.hero__description {
  font-size: 18px;
  font-weight: var(--font-weight-medium);
  color: var(--color-grey);
  line-height: 1.5;
  margin-bottom: 40px;
}

.hero__button--gradient-pink {
  background: var(--gradient-pink);
  border: none;
  height: 59px;
  width: 168px;

  &:hover {
    background: var(--gradient-pink-hover);
  }
}

.hero__image {
  width: 100%;
  height: auto;
}

.hero__image--mobile {
  margin-top: 48px;
  display: block;
  margin-bottom: 64px;
}

.hero__image--tablet {
  display: none;
}

.hero__image--desktop {
  display: none;
}

/* Course Section */

.course {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 54px 20px;
  background: var(--gradient-blue);
}

.course__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  width: 100%;
}

.course__card {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  background-color: var(--color-white);
  padding: 64px 32px 40px 32px;
  border-radius: 15px;
  width: 100%;
}

.course__icon {
  position: absolute;
  width: 56px;
  height: 56px;
  top: -28px;
}

.course__card--highlight {
  background: var(--gradient-pink);
  padding: 32px;
  border-radius: 15px;  
}

.course__title {
  font-size: 20px;
  font-weight: var(--font-weight-extra-bold);
  line-height: 1.2;
  margin-bottom: 24px;
}

.course__title--highlight {
  font-size: 24px;
  font-weight: var(--font-weight-extra-bold);
  color: var(--color-white);
  margin: 0;
  line-height: 1.2;
}

.course__description {
  margin-bottom: 24px;
  color: var(--color-grey);
  line-height: 1.5;
  font-size: 16px;
  font-weight: var(--font-weight-bold);
}

.course__link {
  font-size: 18px;
  line-height: 1.5;
  font-weight: var(--font-weight-bold);
  color: var(--color-pink-600);
  text-decoration: none;
  margin-top: auto;
}

/* Footer Section */

.challenge__credit {
  font-size: 10px;
  color: var(--color-grey);
  margin-top: 10px;
  text-align: center;
}

.footer {
  display: flex;
  background-color: var(--color-blue-900);
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px;
}

.footer__button--gradient-purple {
  background: var(--gradient-purple);
  border: none;
  height: 48px;
  width: 152px;

  &:hover {
    background: var(--gradient-purple-hover);
  }
}

@media (min-width: 768px) {

  .hero {
    padding: 0 0 0 44px;
  }

  .hero__header {
    padding: 24px 44px 24px 0;
  }

  .hero__button {
    width: 152px;
    height: 48px;
  }

  .hero__content {
    position: relative;
    display: flex;
    padding: 0;
    margin-top: 0px;
    align-items: center;
  }

  .hero__text-wrapper {
    max-width: 55%;
    margin-bottom: 128px;
    margin-top: 100px;
    padding: 0;
  }

  .hero__image--mobile {
    display: none;
  }

  .hero__image--tablet {
    display: block;
    width: 100%;
    height: auto;
  }

  .hero__image-wrapper {
    position: absolute;
    top: -150px;
    right: -25vw;
    width: 70vw;  
    z-index: 1;
  }

  .course {
    padding: 0 44px 134px 44px;
    margin-top: 10vh;
  }

  .course__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .course__card {
    margin-top: 36px;
    height: 328px;
    flex: 0 1 calc(50% - 24px);
  }

  .course__card--highlight {
    padding: 64px 32px 40px 32px;
  }

  .footer {
    padding: 24px 44px;
  }
}

@media (min-width: 1024px) {

  .hero {
    padding: 0 80px;
  }

  .hero__logo, .footer__logo {
    width: 110px;
    height: auto;
  }
  .hero__title {
    font-size: 56px;
  }

  .hero__image--tablet {
    display: none;
  }

  .hero__image--desktop {
    display: block;
    object-fit: cover;
    object-position: center;
  }

  .hero__text-wrapper {
    max-width: 55%;
    margin-bottom: 60px;
    margin-top: 10vh;
  }

  .course {
    padding: 0 80px 134px 80px;
    margin-top: 10vh;
  }

  .course__list {
    gap: 32px;
    padding: 0;
  }

  .course__card {
    flex: 0 1 calc(33.333% - 32px);
    margin-top: 76px;
    height: 322px;
  }

  .course__card--highlight {
    flex: 0 1 calc(33.333% - 32px);
  }
}

@media (min-width: 1200px) {

  .hero {
    padding: 0 160px;
  }

  .course {
    padding: 0 160px 134px 160px;
    margin-top: 0vh;
  }

  .footer {
    padding: 24px 160px;
  }

  .hero__text-wrapper {
    max-width: 50%;
    margin-top: 100px;
  }

  .hero__image-wrapper {
    position: absolute;
    top: -210px;
    right: -22vw;
    width: 60vw;  
    z-index: 1;
  }
}

@media (min-width: 1300px) {
  .course {
    margin-top: 5vh;
  }
}

@media (min-width: 1400px) {

  .hero__button {
    margin-right: 160px;
  }

  .hero {
    padding: 0 0 0 160px;
  }

  .course {
    margin-top: 0vh;
  }

  .hero__text-wrapper {
    max-width: 45%;
  }

  .hero__image-wrapper {
    position: absolute;
    top: -200px;
    right: -15vw;
    width: 50vw;  
    z-index: 1;
  }
}

@media (min-width: 1500px) {
  .hero__image-wrapper {
    position: absolute;
    top: -200px;
    right: -15vw;
    width: 50vw;  
    z-index: 1;
  }

  .hero__text-wrapper {
    max-width: 35%;
  }

  .course {
    margin-top: 15vh;
  }
}