@import url(variables.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-sans);
}

body {
  font-family: var(--font-family-sans);
  color: var(--color-blue-900);
}

.landingpage {
  margin: 0 auto;
  width: 100%;
}

/* Hero Section */

.hero {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.hero__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 64px;
}

.hero__logo, .footer__logo {
  width: 80px;
  height: auto;
}

.hero__button, .footer__button {
  background: var(--color-blue-900);
  border: none;
  color: var(--color-white);
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  border-radius: 28px;
  width: 168px;
  height: 59px;
}

.hero__button:hover {
  background: var(--color-blue-600);
}

.hero__title {
  font-size: 40px;
  font-weight: var(--font-weight-extra-bold);
  line-height: 1.2;
  margin-bottom: 24px;
}

.hero__description {
  font-size: 18px;
  font-weight: var(--font-weight-medium);
  color: var(--color-grey);
  line-height: 1.5;
  margin-bottom: 40px;
}

.hero__button--gradient-pink {
  background: var(--gradient-pink);
  border: none;
  height: 59px;
  width: 168px;

  &:hover {
    background: var(--gradient-pink-hover);
  }
}

.hero__image {
  width: 100%;
  height: auto;
}

.hero__image--mobile {
  margin-top: 48px;
  display: block;
  margin-bottom: 64px;
}

.hero__image--tablet {
  display: none;
}

.hero__image--desktop {
  display: none;
}

/* Course Section */

.course {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 54px 20px;
  background: var(--gradient-blue);
}

.course__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  width: 100%;
}

.course__card {
  position: relative;
  background-color: var(--color-white);
  padding: 64px 32px 40px 32px;
  border-radius: 15px;
  width: 100%;
}

.course__icon {
  position: absolute;
  width: 56px;
  height: 56px;
  top: -28px;
}

.course__card--highlight {
  background: var(--gradient-pink);
  padding: 32px;
  border-radius: 15px;  
}

.course__title {
  font-size: 20px;
  font-weight: var(--font-weight-extra-bold);
  line-height: 1.2;
  margin-bottom: 24px;
}

.course__title--highlight {
  font-size: 24px;
  font-weight: var(--font-weight-extra-bold);
  color: var(--color-white);
  margin: 0;
  line-height: 1.2;
}

.course__description {
  margin-bottom: 24px;
  color: var(--color-grey);
  line-height: 1.5;
  font-size: 16px;
  font-weight: var(--font-weight-bold);
}

.course__link {
  font-size: 18px;
  line-height: 1.5;
  font-weight: var(--font-weight-bold);
  color: var(--color-pink-600);
  text-decoration: none;
}

/* Footer Section */

.challenge__credit {
  font-size: 10px;
  color: var(--color-grey);
  margin-top: 10px;
  text-align: center;
}

.footer {
  display: flex;
  background-color: var(--color-blue-900);
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px;
}

.footer__button--gradient-purple {
  background: var(--gradient-purple);
  border: none;
  height: 48px;
  width: 152px;

  &:hover {
    background: var(--gradient-purple-hover);
  }
}