@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --color-blue-900: hsl(233, 54%, 16%);
  --color-blue-600: hsl(234, 25%, 52%);
  --color-pink-600: hsl(341, 92%, 62%);
  --color-pink-300: hsl(341, 100%, 83%);
  --color-grey: hsl(232, 10%, 56%);
  --color-white: hsl(0, 0%, 100%);
  --font-family-sans: 'Plus Jakarta Sans', sans-serif;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

  --gradient-pink: linear-gradient(90deg, hsl(322, 87%, 55%), hsl(13, 100%, 64%));
  --gradient-purple: linear-gradient(90deg, hsl(237, 100%, 64%), hsl(322, 87%, 55%));
}