@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --color-blue-900: hsl(233, 54%, 16%);
  --color-blue-600: hsl(234, 25%, 52%);
  --color-pink-600: hsl(341, 92%, 62%);
  --color-pink-300: hsl(341, 100%, 83%);
  --color-grey: hsl(232, 10%, 56%);
  --color-white: hsl(0, 0%, 100%);
  --font-family-sans: 'Plus Jakarta Sans', sans-serif;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

  --gradient-pink: linear-gradient(0deg, hsl(322, 87%, 55%), hsl(13, 100%, 64%));
  --gradient-purple: linear-gradient(0deg, hsl(237, 100%, 64%), hsl(322, 87%, 55%));
  --gradient-blue: linear-gradient(180deg, hsl(0, 0%, 100%), hsl(234, 100%, 97%));
  
  --gradient-pink-hover:
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(
      0deg,
      hsl(322, 87%, 55%),
      hsl(13, 100%, 64%)
    );
    
  --gradient-purple-hover:
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(
      0deg,
      hsl(237, 100%, 64%),
      hsl(322, 87%, 55%)
    );
}